<%- layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 mb-5">
            <div class="card mb-3">
                <img src="<%= details.image %>" alt="">
                <div class="card-body">
                    <h5 class="card-title"><%= details.title %></h5>
                    <p class="card-text"><%= details.description%></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= details.location %>
                    </li>
                    <li class="list-group-item">$<%= details.price%>/night</li>
                    <!-- <li class="list-group-item">A third item</li> -->
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/campgrounds/<%=details.id%>/edit">edit</a>
                    <form class="d-inline" action="/campgrounds/<%=details.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger" id="deleteBtn">delete</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
            <a class="card-link btn btn-warning  mt-4" href="/campgrounds">See all Campgrounds</a>
        </div>



        <div class="col-6">
            <h2>Leave a Review</h2>
            <form action="/campgrounds/<%= details.id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
                <div>
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" class="form-range" min="1" max="5" name="review[rating]" id="rating">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">review</label> <br>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="5" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success mt-2">submit</button>
            </form>

            <% for(let rev of details.reviews){ %>
                <div class="card mb-3">

                    <div class=" card-body">
                        <h5 class="card-title">rating: <%= rev.rating %>
                        </h5>
                        <p class="card-text">Review: <%= rev.body%>
                        </p>
                        <p>
                            <%= %>
                        </p>
                        <p>
                            <%= %>
                        </p>
                    </div>
                    <form action="/campgrounds/<%= details.id %>/reviews/<%= rev.id %>?_method=delete" method="POST">
                        <button class="btn btn-danger">submit</button>
                    </form>
                </div>
                <% } %>

        </div>
    </div>